@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: "Fira Sans", sans-serif;
}
.section-margin {
    margin-bottom: 80px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0E0E0E;
}
.btn-primary {
    padding: 1rem 2.8rem;
    border: none;
    background-color: #006A50;
    border-radius: 4rem;
    box-shadow: 0 0 16px #006A50;
    transition-duration: .5s;
    color: #FFFFFF;
    cursor: pointer;

    
}
.btn-primary:hover {
    box-shadow: none;
}


/* nav style */
nav {
    padding: 24px 0;
}
.nav .nav-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.nav .nav-content button {
    padding: 16px 30px;
    border: none;
    outline: none;
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 10px;
}
/* banner style */
.banner .container {
    background-color: #C6E4D6;
    padding: 80px 60px;
    border-radius: 24px;
}
.banner .banner-content {
    display: flex;
    align-items: center;
    gap: 24px;
}
.banner .banner-content-area .sub-title {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}
.banner .banner-content-area h1 {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 16px 0 24px;
}