@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: "Fira Sans", sans-serif;
}

.section-margin {
    margin-bottom: 80px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0E0E0E;
}

.btn-primary {
    padding: 1rem 2.8rem;
    border: none;
    background-color: #006A50;
    border-radius: 16px;
    box-shadow: 0 0 10px #006A50;
    transition-duration: .5s;
    color: #FFFFFF;
    cursor: pointer;
    display: block;

}

.btn-primary:hover {
    box-shadow: none;
}


/* nav style */
nav {
    padding: 24px 0;
}

.nav .nav-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.nav .nav-content button {
    padding: 16px 30px;
    border: none;
    outline: none;
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 10px;
    cursor: pointer;
}

/* banner style */
.banner .container {
    background-color: #C6E4D6;
    padding: 80px 60px;
    border-radius: 24px;
}

.banner .banner-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.banner .banner-content-area .sub-title {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}

.banner .banner-content-area h1 {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 16px 0 24px;
}

/* pillars style */
.pillars .pillars-content {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.pillars .pillar-item {
    padding: 24px;
    width: calc((100% / 4) - (72px / 4));
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);

}

.pillars .pillar-item h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 24Px 0 12px;
}


/* future style */
.future .future-heading p {
    margin: 24px 0 32px;
}

.future .future-content .future-items {
    display: flex;
    align-items: center;
    gap: 24px;
}

.future .future-content .future-items .future-item.item-one {
    background-color: rgba(84, 143, 245, 0.2);
}

.future .future-content .future-items .future-item.item-three {
    background-color: #F7EBCF;
}

.future .future-content .future-items .future-item {
    width: calc((100% / 3) - (48px / 3));
    background-color: #C6E4D6;
    border-radius: 16px;
    height: 325px;
    padding: 32px;
}

.future .future-items .future-item .description-title {
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0 12px;
}

.future .future-items .future-item button {
    margin-top: 24px;
}

.future .future-items .future-item button.btn-one {
    background-color: #5490F5;
}

.future .future-items .future-item button.btn-two {
    margin-top: 48px;
}

.future .future-items .future-item button.btn-three {
    margin-top: 48px;
    background-color: #FFC239;
}

/* paragraph style */
.paragraph .container {
    background-color: #FFFFFF;
    padding: 30px 25px 48px;
    border-radius: 24px;
}

.paragraph .paragraph-content {
    background-image: url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 25px;
}

.paragraph .paragraph-content h4 {
    font-size: 20px;
    margin: 12px 0 4px;
}

/* opinion style */
.opinion .opinion-content {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 24px;
    margin-top: 24px;
}

.opinion .opinion-content .table-area {
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion .opinion-content .table-area .opinion-head {
    background-color: #d4edda;
    color: #0E0E0E;
    padding: 24px;
    font-weight: 600;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    display: flex;
    justify-content: space-between;
}

.opinion .opinion-content .questions {
    display: flex;
    align-items: center;
    height: 100px;
    border: .5px solid rgba(14, 14, 14, 0.15);
}

.opinion .opinion-content .questions .question {
    width: 100%;
    border-right: 2px solid rgba(14, 14, 14, 0.15);
    font-size: 16px;
    padding: 40px;
    color: #0E0E0E;
}

.opinion .opinion-content .selection {
    width: 220px;
    padding: 25px;
    height: 100px;
    border-left: .5px rgba(14, 14, 14, 0.15);
}

.opinion .opinion-content .selection select {
    background-color: #c6e4d6;
    border-radius: 8px;
    width: 152px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px;
}

/* news section style */
.news .container .news-content .news-items-area {
    background-color: #FFFFFF;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.news .container .news-content .news-items-area h3 {
    font-size: 32px;
}

.news .news-items-area .news-img {
    width: 100%;
}

.news .news-items-area .news-img img {
    border-radius: 16px;

}

.news .news-items-area {
    margin-top: 32px;
    display: flex;
    gap: 24px;

}

.news .news-items-area .news-text-area img {
    margin: 12px 0;
    display: block;
}

.news .news-items-area .news-text-area span {
    font-size: 16px;
}

.news .news-items-area .news-text-area p {
    margin: 12px 0 36px;
}

/* donate section style */
.donate .donate-content {
    text-align: center;
    padding: 0 90px;
}

.donate .donate-content p {
    margin: 24px 32px;
}

.donate .donate-content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.donate .donate-content ul li.active {
    background-color: rgba(0, 106, 80, 0.5);
    color: #FFFFFF;
}

.donate .donate-content ul li {
    padding: 20px 60px;
    background-color: #fff;
    border-radius: 16px;
    margin: 0 16px;
    font-size: 42px;
    cursor: pointer;
    transition-duration: .5s;
}

.donate .donate-content ul li:hover {
    background-color: #006A50;;
    color: #FFFFFF;
    box-shadow: 0 0 10px #006A50;
}

.donate .donate-content .text-input {
    border: none;
    outline: none;
    padding: 20px;
    width: 75%;
    height: 64px;
    background-color: #FFFFFF;
    margin: 32px 0;
}

.donate .donate-content .text-input::placeholder {
    line-height: 64px;
    text-align: center;
    vertical-align: middle;
}

.donate .donate-content .button-box {
    display: flex;
    justify-content: center;
}

/* subscribe style */
.subscribe .container {
    padding: 80px 0;
    background-color: #C6E4D6;
    border-radius: 24px;

}

.subscribe .subscribe-content {
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
}

.subscribe .subscribe-content .input-box {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 25px 0;

}

.subscribe .subscribe-content .input-box .subscribe-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 16px 0 0 16px;
    font-size: 16px;
    color: #aaa;
}

.subscribe .subscribe-content .input-box .subscribe-button {
    background-color: #006A50;
    color: #fff;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 50px;
    border-radius: 0 16px 16px 0;
    font-size: 20px;
    cursor: pointer;
}

/* footer style */
.footer {
    background-color: #FFFFFF;
}

.footer .container {
    text-align: center;
    padding: 50px 0;

}

.footer .container h3 {
    font-size: 32px;
    margin-bottom: 64px;
}

.footer .container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer .container ul li img {
    width: 40px;
    height: 40px;
    margin: 0 16px;
}